@mixin background-gradient($color1, $color2) {
	background: linear-gradient(to bottom right, $color1 0%, $color2 100%);
}

@mixin text-gradient($color1, $color2) {
	background: -webkit-linear-gradient($color1, $color2); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@font-face {
	font-family: "yasashisa";
	src: url("../assets/fonts/YasashisaGothicBold-V2.otf");
}

@font-face {
	font-family: "zero";
	src: url("../assets/fonts/ZeroGothic.otf");
}

@font-face {
	font-family: "CNT";
	src: url("../assets/fonts/Square.ttf");
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.red {
	@include background-gradient(#ff616d,#ffc171);
	.char {
		@include text-gradient(#ff616d,#ffc171);
	}
}

.green {
	@include background-gradient(#58ac30,#a7df62);
	.char {
		@include text-gradient(#58ac30,#a7df62);
		font-family: "yasashisa";
	}
}

.orange {
	@include background-gradient(#f3f9a6,#cbc634);
	.char {
		@include text-gradient(#f3f9a6,#cbc634);
		font-family: "yasashisa";
	}
}

.def {
	@include background-gradient(#37cfdc,#5a88e5);
	.char {
		@include text-gradient(#37cfdc,#5a88e5);
	}
}

.grid-container {
	margin: 0 auto;
	
}

.row-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px; /* Adjust the gap between grid items */
	margin-top: 20px; /* Example margin, adjust as needed */
	padding: 10px; /* Example padding, adjust as needed */
	border-radius: 10px; /* Example border radius */
}


.cell {
	position: relative;
	padding: 4px;
	z-index: 1;
	width: 75px;
	height: 75px;
	cursor: default;
	transition: all 0.3s ease;
	.cell-inner {
		background: #202e38;
		padding: 10px 15px;
		width: calc(100% - 30px);
		height: calc(100% - 20px);
		transition: inherit;
	}
	.char {
		font: 700 34px/1.3 "Poppins", sans-serif;
		margin: 0.3em 0 0;
		transition: 0.8s ease 600ms;
	}
	&:hover {
		transform: scale(1.12);
		z-index: 10;
		.cell-inner {
			background: transparent;
		}
		.char {
			-webkit-text-fill-color: #222;
		}
	}
}

.legend-table {
	padding: 15px;
	text-align: center;
	font-size: 15px;
	margin: 2em auto 0;
	&__marker {
		width: 25px;
		height: 25px;
		margin: 5px 5px 10px;
		display: inline-block;
		vertical-align: middle;
		box-shadow: 0.5px 1px rgba(0, 0, 0, 0.15);
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		margin: 0 25px 5px 5px;
		@include text-gradient(#ccc,#eee);
	}
}

.color-box-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.colorGrid {
	display: inline-flex;
	flex-direction: row;
}

.colorGrid-inner {
	width: 25px;
	height: 25px;
	margin: 5px 5px 10px;
}

.theField {
	font-size: 2.2em;
	background-color: #000;
	border: 1px solid rgb(0, 255, 255);
	color: rgb(255, 255, 255);
	letter-spacing: 6px;
	text-align: center;
	outline: none;
	margin-bottom: 5%;
  &:focus {
	transition: 0.3s;
	box-shadow: inset 0px 8px 64px rgba(0, 255, 255, 0.2); 
   
  }
}

.shake-no {
	animation: shake 0.2s linear infinite;
}

#countdown {
	font-family: CNT;
	text-align: center;
	font-size: 2em;
	color: yellow;
	text-shadow: 0px 1vh rgba(0, 255, 255, 0.2), 0px 1vh 5vh rgba(0, 247, 255, 0.2);
	mix-blend-mode: lighten; 
}

.ui-container {
	border: 1px solid #00eeff ;
	margin: 2% 30% 0% 30%;
	box-shadow: 0px 1vh 5vh rgba(0, 247, 255, 0.2);
}

.card-container {
	font-size: 1.5em;
	color: white;
	font-family: 'yasashisa';
	width: 50%;
	margin: 0 auto;
	border: 1px solid #00eeff ;
	padding: 10px 15px 20px 15px;
	box-shadow: 0px 0.5vh rgba(0, 255, 255, 0.2), 0px 1vh 5vh rgba(0, 247, 255, 0.2);

}
