.grid-container {
    display: grid;
	 grid-template-columns: repeat(5, 100px);
	 grid-template-rows: repeat(var(--word-length), 100px);
	 grid-gap: 10px;
	 margin: auto;
	 max-width: 1200px;
	 justify-content: center;
  }